.todolist {
  position: relative;

  .addTodo{
    margin-top: 30px;
    float: left;
  }
  .blockFilter{
    position: fixed;
    margin-top: 30px;
    margin-left: 775px;
  }
  .tasks{
    float: left;
    margin-top: 25px;
  }

}